<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<title>Noticias</title>
</head>
<body>

	<h1>Las Noticias del Día</h1>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-5 g-4">
		
			<!-- NOTICIA 1 -->
			<div class="col p-2 mt-2">
				<div class="card h-100 " >
					<img style="max-height:200px;" th:src="${noticia1[2]}" class="card-img-top" alt="noticia1">
					
					<div class="card-body">
						<h3 class="card-title" th:text="${noticia1[0]}"></h3>
						<p class="card-text" th:text="${noticia1[1]}"></p>
						<a href="#" class="btn btn-primary">Ver Noticia</a>
					</div>
				</div>
			</div>
			
			<!-- NOTICIA 2 -->
			<div class="col p-2 mt-2">
				<div class="card h-100 ">
					<img style="max-height:200px;" th:src="${noticia2[2]}" class="card-img-top" alt="noticia1">
					
					<div class="card-body">
						<h3 class="card-title" th:text="${noticia2[0]}"></h3>
						<p class="card-text" th:text="${noticia2[1]}"></p>
						<a href="#" class="btn btn-primary">Ver Noticia</a>
					</div>
				</div>
			</div>
			
						<!-- NOTICIA 3 -->
			<div class="col p-2 mt-2">
				<div class="card h-100" >
					<img style="max-height:200px;" th:src="${noticia3[2]}" class="card-img-top" alt="noticia1">
					
					<div class="card-body">
						<h3 class="card-title" th:text="${noticia3[0]}"></h3>
						<p class="card-text" th:text="${noticia3[1]}"></p>
						<a href="#" class="btn btn-primary">Ver Noticia</a>
					</div>
				</div>
			</div>
			
						<!-- NOTICIA 4 -->
			<div class="col p-2 mt-2">
				<div class="card h-100" >
					<img style="max-height:200px;" th:src="${noticia4[2]}" class="card-img-top" alt="noticia1">
					
					<div class="card-body">
						<h3 class="card-title" th:text="${noticia4[0]}"></h3>
						<p class="card-text" th:text="${noticia4[1]}"></p>
						<a href="#" class="btn btn-primary">Ver Noticia</a>
					</div>
				</div>
			</div>
			
						<!-- NOTICIA 5 -->
			<div class="col p-2 mt-2">
				<div class="card h-100" >
					<img style="max-height:200px;" th:src="${noticia5[2]}" class="card-img-top" alt="noticia1">
					
					<div class="card-body">
						<h3 class="card-title" th:text="${noticia5[0]}"></h3>
						<p class="card-text" th:text="${noticia5[1]}"></p>
						<a href="#" class="btn btn-primary">Ver Noticia</a>
					</div>
				</div>
			</div>			
			
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>

</body>
</html>